body {
  margin: 0 auto;
  text-align: center;
  background-image: url(./images/bg_img0.png);
  font-family: "Montserrat", sans-serif;
}
.navbar {
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.15);
  width: 100%;
  background: hsl(211, 25%, 97%);
  z-index: 2;
  display: flex;
}
.nav li {
  border-radius: 5px;
  background-color: #2491b9;
  border: 2px solid #247084;
  margin-right: 20px;
}
.nav li a {
  color: #fff;
}
.nav li:hover {
  border: 2px solid #2491b9;
  background-color: #247084;
}
.carousel img {
  height: 500px;
}
.logo img {
  height: 75px;
  width: 123px;
  margin-left: 153px;
}
input {
  width: 200px !important;
}

.text-intro {
  box-shadow: 0px -3px 11px -3px rgba(0, 0, 0, 0.1);
  background-color: white;
  width: 75%;
  position: relative;
  z-index: 2;
  margin: 0 auto;
  margin-top: 20px;
  padding: 23px;
  text-align: justify;
}

.box1 {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 850px;
}
.box_item {
  box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.3);
  background-color: white;
  border-radius: 5px;
  margin-bottom: 25px;
}
.box_item img {
  width: 250px;
  height: 220px;
}
h3,
h4 {
  letter-spacing: 9px;
  text-transform: uppercase;
  padding: 20px;
  font-weight: 700;
  text-align: center;
  color: #05797b;
}
.contact {
  padding-top: 150px;
}
.footer {
  font-size: 14px;
  color: black;
  padding-top: 20px;
  font-weight: bold;
  width: 100%;
  align-items: center;
  margin: 0 auto;
  margin-top: 25px;
  justify-content: space-around;
  box-shadow: -6px -6px 10px -5px rgba(0, 123, 255, 0.14);
  display: flex;
}
.liens a {
  color: #000 !important;
}
#fs-fb {
  background-repeat: no-repeat;
  padding-left: 55px;
  padding-bottom: 28px;
  padding-top: 7px;
  margin-right: 10px;
  font-size: 35px;
}
#fs-tw {
  background-repeat: no-repeat;
  padding-left: 55px;
  padding-bottom: 28px;
  margin-right: 10px;
  padding-top: 7px;
  font-size: 35px;
}
#fs-ln {
  background-repeat: no-repeat;
  padding-left: 55px;
  padding-bottom: 28px;
  padding-top: 7px;
  font-size: 35px;
}

.follow-title {
  padding-bottom: 20px;
}
.formContact {
  box-shadow: 1px 5px 8px -4px rgba(0, 0, 0, 0.1);
  width: 800px;
  margin: 0 auto;
}

#defaultContactFormName,
#defaultContactFormEmail {
  width: 100% !important;
}

.menu {
  display: flex;
}
.form_ajout {
  padding-top: 100px;
}
.add-title {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  width: 800px;
  letter-spacing: 4px;
  text-align: center;
  color: #2b89a5;
  margin: 0 auto;
}

.maincard {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  border: 1px rgb(117, 114, 114) solid;
  padding: 30px;
  border-radius: 3px;
}
.formfield {
  margin-top: 15px;
}

.btn-secondary {
  background-color: #007bf2 !important;
}
.search-form {
  position: absolute;
  top: 487px;
  z-index: 5;
  left: 150px;
  padding: 25px;
  border: 1px solid #e2e2e2;
  background-color: #f4fdffcc;
}
.search-form form {
  display: flex;
}
#categories {
  border-radius: 5px;
  width: 150px;
}
.search-heading {
  background-color: #040404ed;
  color: #ffffff;
  font-size: 17px;
  line-height: 16px;
  min-height: 39px;
  margin: 0;
  padding-right: 50px;
  position: absolute;
  top: -57px;
  left: 0;
  letter-spacing: 2px;
  z-index: 999;
}
label {
  padding: 10px;
}
.socialbox {
  text-align: center;
}

/*register form css*/
.register-form {
  min-height: 310px;
}

.send-button {
  width: 100%;
  font-weight: 600;
  color: #fff;
  padding: 8px 25px;
  margin-bottom: 15px !important;
}

.g-button {
  color: #fff !important;
  border: 1px solid #ea4335;
  background: #ea4335 !important;
  width: 100%;
  font-weight: 600;
  color: #fff;
  padding: 8px 25px;
}
.my-input {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: text;
  padding: 8px 10px;
  transition: border 0.1s linear;
  width: 348px !important;
}
.header-title {
  margin: 2rem 0;
}

.heading--subtitle {
  color: #5e8396;
  font-size: 21px;
  line-height: 32px;
  font-weight: 400;
}

/*Annonces List Style*/

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1000px;
}

.annonce-card {
  border: 1px solid #f1f1f1;
  height: 330px;
  width: 280px;
  margin-top: 26px;
}

.annonce-card:hover {
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.14);
}

.card-title-annonce {
  color: #4064d7 !important;
}

.card-text {
  color: #272727;
}

/*login form*/

.form-control-login {
  width: 300px !important;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
  background-color: #eaeaea;
}
#login-box {
  margin-top: 30px;
}

.login-group {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 29px;
}
.form-control-auth {
  width: 349px !important;
}
.form-group-auth {
  margin-bottom: 11px;
}
.btn-login {
  height: 51px;
  width: 183px;
}
